Перед запуском убедитесь, что в корне проекта есть файл .env и в нем заполнены выданные вам креды подключения к базам данных и хранилищу

In [2]:
from sqlalchemy import create_engine
import os
import numpy as np
import pandas as pd
from dotenv import load_dotenv

def create_connection():

    load_dotenv()
    host = os.environ.get('DB_DESTINATION_HOST')
    port = os.environ.get('DB_DESTINATION_PORT')
    db = os.environ.get('DB_DESTINATION_NAME')
    username = os.environ.get('DB_DESTINATION_USER')
    password = os.environ.get('DB_DESTINATION_PASSWORD')
    
    print(f'postgresql://{username}:{password}@{host}:{port}/{db}')
    conn = create_engine(f'postgresql://{username}:{password}@{host}:{port}/{db}')
    return conn

# устанавливаем соединение с базой
conn = create_connection()

postgresql://mle_20251226_32acb1e4a5_freetrack:812f9279813c4b369ecdf858201d5ed2@rc1b-uh7kdmcx67eomesf.mdb.yandexcloud.net:6432/playground_mle_20251226_32acb1e4a5

In [3]:
data = pd.read_sql('select * from users_churn', conn)
print(f'data shape = {data.shape}') 
data.head()

data shape = (7043, 22)

,id,customer_id,begin_date,end_date,type,paperless_billing,payment_method,monthly_charges,total_charges,internet_service,...,device_protection,tech_support,streaming_tv,streaming_movies,gender,senior_citizen,partner,dependents,multiple_lines,target
0,3461,2669-OIDSD,2016-02-01,NaT,Month-to-month,Yes,Credit card (automatic),100.05,4834.00,Fiber optic,...,Yes,Yes,Yes,Yes,Female,0,Yes,No,No,0
1,21,8779-QRDMV,2019-11-01,2019-12-01,Month-to-month,Yes,Electronic check,39.65,39.65,DSL,...,Yes,No,No,Yes,Male,1,No,No,None,1
2,22,1680-VDCWW,2019-02-01,NaT,One year,No,Bank transfer (automatic),19.80,202.25,None,...,None,None,None,None,Male,0,Yes,No,No,0
3,3462,8400-WZICQ,2015-07-01,NaT,Month-to-month,No,Electronic check,55.70,3131.80,DSL,...,No,No,No,No,Female,0,Yes,Yes,No,0
4,3463,3834-XUIFC,2019-04-01,2019-11-01,Month-to-month,Yes,Mailed check,85.20,602.55,Fiber optic,...,No,No,No,Yes,Male,0,No,No,Yes,1

In [4]:
features = data.drop(columns=['customer_id', 'target'], axis=1)
print(features.dtypes.value_counts())

object            14
int64              2
datetime64[ns]     2
float64            2
Name: count, dtype: int64

In [5]:
num_features = features.select_dtypes(include=['float', 'int'])
date_features = features.select_dtypes(include='datetime64[ns]')
cat_features = features.select_dtypes(include='object')

In [6]:
unique_values_per_col = cat_features.nunique()# ваш код здесь #
print(unique_values_per_col.value_counts())

2    12
3     1
4     1
Name: count, dtype: int64

In [7]:
binary_cat_features = cat_features[[col for col in cat_features.columns if cat_features[col].nunique() == 2]]
other_cat_features = cat_features[[col for col in cat_features.columns if col not in binary_cat_features.columns]]
print(binary_cat_features.head())

  paperless_billing internet_service online_security online_backup  \
0               Yes      Fiber optic              No            No
1               Yes              DSL              No            No
2                No             None            None          None
3                No              DSL             Yes           Yes
4               Yes      Fiber optic              No            No

  device_protection tech_support streaming_tv streaming_movies  gender  \
0               Yes          Yes          Yes              Yes  Female
1               Yes           No           No              Yes    Male
2              None         None         None             None    Male
3                No           No           No               No  Female
4                No           No           No              Yes    Male

  partner dependents multiple_lines
0     Yes         No             No
1      No         No           None
2     Yes         No             No
3     Yes        Yes             No
4      No         No            Yes

In [8]:
allowed_values = ['Yes', 'No', None, np.nan]
yes_no_features = pd.DataFrame()
other_binary_features = pd.DataFrame()
for col in binary_cat_features.columns:
    if binary_cat_features[col].isin(allowed_values).all():
        yes_no_features[col] = binary_cat_features[col]
    else:
        other_binary_features[col] = binary_cat_features[col]
print(yes_no_features.head())

  paperless_billing online_security online_backup device_protection  \
0               Yes              No            No               Yes
1               Yes              No            No               Yes
2                No            None          None              None
3                No             Yes           Yes                No
4               Yes              No            No                No

  tech_support streaming_tv streaming_movies partner dependents multiple_lines
0          Yes          Yes              Yes     Yes         No             No
1           No           No              Yes      No         No           None
2         None         None             None     Yes         No             No
3           No           No               No     Yes        Yes             No
4           No           No              Yes      No         No            Yes

In [9]:
cols_with_nans = data.isnull().sum()
cols_with_nans = cols_with_nans[cols_with_nans > 0].index.drop('end_date')
for col in cols_with_nans:
	if data[col].dtype in [float, int]:
		fill_value = data[col].mean()
	if data[col].dtype == 'object':
		fill_value = data[col].mode().iloc[0]
	data[col] = data[col].fillna(fill_value)

In [10]:
num_cols = data.select_dtypes(['float']).columns
threshold = 1.5
potential_outliers = pd.DataFrame()

for col in num_cols:
    Q1 = data[col].quantile(0.25)
    Q3 = data[col].quantile(0.75)
    IQR = Q3 - Q1
    margin = threshold*IQR
    lower = Q1 - margin
    upper = Q3 + margin
    potential_outliers[col] = ~data[col].between(lower, upper)

outliers = potential_outliers.any(axis=1)

print(data[outliers])

Empty DataFrame
Columns: [id, customer_id, begin_date, end_date, type, paperless_billing, payment_method, monthly_charges, total_charges, internet_service, online_security, online_backup, device_protection, tech_support, streaming_tv, streaming_movies, gender, senior_citizen, partner, dependents, multiple_lines, target]
Index: []

[0 rows x 22 columns]